<template>
  <div id="app">
    <navbar/>
    <router-view/>
    <cookie-consent>
      <template
        slot="message"
      >
      <span v-html="$t('cookies.content')">
      </span>
      </template>
      <template
        slot="button"
      >
        <button class="button is-primary is-small">{{$t('cookies.button')}}</button>
      </template>
    </cookie-consent>
    <footerbar/>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { mapState, mapActions } from 'vuex';
import CookieConsent from 'vue-cookieconsent-component';
import Navbar from './components/Navbar.vue';
import Footerbar from './components/Footerbar.vue';

@Component({
  components: {
    CookieConsent,
    Footerbar,
    Navbar,
  },
  computed: {
    ...mapState('alert', {
      alert: 'alert',
    }),
  },
  methods: {
    ...mapActions('alert', [
      'clear',
    ]),
  },
})
export default class Home extends Vue {
  @Watch('alert', { immediate: true })
  private onPropertyChanged = (value: { message: string; type: string }) => {
    if (value.message) {
      const notif = this.$buefy.notification.open({
        duration: 5000,
        message: value.message,
        position: 'is-top',
        type: value.type,
      });
      notif.$on('close', () => {
        this.$store.dispatch('alert/clear');
      });
    }
  }
}
</script>

<style>
html, body {
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #121212;
}

html {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  min-height: calc(100vh - 208px);
}

h1, h3, h4, p, small {
  color: white;
}

.cookie-consent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  height: auto;
  background-color: white;
  z-index: 15;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: white;
}

.input, .textarea {
  color: white !important;
  background-color: #5C5C5C !important;
}

.input:not(:focus), .textarea:not(:focus) {
  border-color: #4B4B4B;
}

.input::placeholder, .textarea::placeholder {
  color: rgba( 255, 255, 255, 0.7)!important;
}

.select select {
  background-color: #5C5C5C !important;
  color: white !important;
}

.select select:not(:focus) {
  border-color: #4B4B4B !important;
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable {
  color: #b5b5b5 !important;
}
.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-unselectable {
  color: #4a4a4a !important;
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable:hover {
  background-color: #4B4B4B !important;
}

#app .title {
  color: white;
}

a {
  transition: color .2s;
}

.card {
  background-color: #292929 !important;
  overflow: inherit !important;
}

.datepicker .dropdown-content {
  background-color: #333333 !important;
}

.blank-hover:hover {
  color: rgba( 255, 255, 255, 0.7)!important;
}
</style>
