<template>
  <footer>
    <div class="social-networks">
      <a target="_blank" href="https://discord.gg/DG82S9E654">
        <b-icon
          pack="fab"
          icon="discord"
          size="is-large"
        />
      </a>
      <!-- <a target="_blank">
        <b-icon
          pack="fab"
          icon="facebook"
          size="is-large"
        />
      </a> -->
      <a target="_blank" href="https://twitter.com/padklan">
        <b-icon
          pack="fab"
          icon="twitter"
          size="is-large"
        />
      </a>
      <!-- <a target="_blank">
        <b-icon
          pack="fab"
          icon="youtube"
          size="is-large"
        />
      </a>
      <a target="_blank">
        <b-icon
          pack="fab"
          icon="instagram"
          size="is-large"
        />
      </a> -->
    </div>
    <div class="copyright">
      <p>© {{new Date().getFullYear()}} <a href="https://www.yudevop.fr" class="link" target="_blank">Yudevop</a> - Frédéric Pernin. {{ $t('footer.allRightsReversed') }}.</p>
    </div>
    <div class="container">
      <div class="links">
        <router-link to="/terms-and-conditions" class="link">
          {{ $t('footer.termsAndConditions') }}
        </router-link>
        <router-link to="/legal-notice" class="link">
          {{ $t('footer.legalNotice') }}
        </router-link>
        <router-link to="/privacy-policy" class="link">
          {{ $t('footer.privacyPolicy') }}
        </router-link>
        <router-link to="/cookie-settings" class="link">
          {{ $t('footer.cookieSettings') }}
        </router-link>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'Footerbar',
  components: {
  },
})
export default class Footer extends Vue {}
</script>

<style scoped>
footer {
  background-color: #1f1f1f;
}

.copyright {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.link {
  color: #fcfafa;
}

.link:hover {
  background-color: transparent;
  color: #7957d5;
}

.link:focus {
  background-color: transparent;
}

.social-networks {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.social-networks > a {
  color: #fcfafa;
}

.social-networks > a:hover {
  color: #7957d5;
}

.social-networks > a:focus {
  background-color: transparent;
}

@media (max-width: 768px) {
  .copyright {
    font-size: 0.75rem;
  }

  .links > .link {
    font-size: 0.75rem;
  }

  .links {
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 95%;
  }
}

@media (max-width: 420px) {
  .links {
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 80%;
  }
}
</style>
