<template>
       <b-navbar id="nav">
        <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="padklan-logo.png"
                    alt="Logo Padklan"
                >
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item tag="router-link" class="link" :to="{ path: '/about' }">
              {{$t('navbar.about')}}
            </b-navbar-item>
            <!-- <b-navbar-item tag="router-link" class="link" :to="{ path: '/contact' }">
              {{$t('navbar.contact')}}
            </b-navbar-item> -->
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <router-link to="/sign-up" class="button is-primary">
                        <strong>{{$t('navbar.signUp')}}</strong>
                    </router-link>
                    <!-- <router-link to="/login" class="button is-light">
                        {{$t('navbar.login')}}
                    </router-link> -->
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  name: 'Navbar',
  components: {
  },
})
export default class Navbar extends Vue {}
</script>

<style scoped>
#nav {
  background-color: #1f1f1f;
}

.navbar-menu .navbar-start > a {
  color: #fcfafa;
}

.navbar-menu .navbar-start > a:hover {
  background-color: transparent;
  color: #7957d5;
}

.navbar-menu .navbar-start > a:focus {
  background-color: transparent;
}

#nav a.link.router-link-exact-active {
   color:#7957d5;
}
</style>
<style>
@media screen and (max-width: 1023px) {
  #nav > .navbar-menu.is-active  {
    background-color: #1f1f1f !important;
    text-align: center;
  }

  #nav .buttons  {
    justify-content: center !important;
  }

  .navbar-burger {
    color: #fcfafa !important;
  }

  .navbar-burger:hover {
    color: #7957d5;
  }
}
</style>
