<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="fb:app_id" content="224212446071158" />
    <meta name="twitter:site" content="@padklan">
    <meta property="og:site_name" content="<%= VUE_APP_TITLE %>">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" type="image/png" href="<%= VUE_APP_URL %>/padklan-logo.png">
    <link rel="icon" type="image/png" href="<%= VUE_APP_URL %>/padklan-logo.png">
    <title><%= VUE_APP_TITLE %></title>
  </head>
  <body>
    <div id="app"></div>
    <noscript>
      <strong>We're sorry but Padklan doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  </body>
</html>
