<template>
  <div id="page">
    <div class="about">
      <div class="container">
        <div class="card">
          <div class="mx-6 my-5">
            <h1 class="title is-1 is-size-2-mobile pt-5">{{ $t('aboutpage.title') }}</h1>
            <p class="is-size-7-mobile">{{ $t('aboutpage.intro') }}</p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">{{ $t('aboutpage.subtitleFirst') }}</h3>
            <p class="is-size-7-mobile">{{ $t('aboutpage.contentFirst') }}</p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">{{ $t('aboutpage.subtitleSecond') }}</h3>
            <p class="mb-5 is-size-7-mobile">{{ $t('aboutpage.contentSecond') }}</p>
            <p class="is-size-7-mobile pb-5">{{ $t('aboutpage.contentThird') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import translateMeta from '../utils/translateMeta';

const meta = translateMeta('aboutpage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    },
    {
      vmid: 'og:title',
      property: 'og:title',
      content: meta.title,
    },
    {
      vmid: 'og:description',
      property: 'og:description',
      content: meta.description,
    },
    {
      vmid: 'og:image',
      property: 'og:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'og:url',
      property: 'og:url',
      content: `${process.env.VUE_APP_URL}/about`,
    },
    {
      vmid: 'twitter:image',
      name: 'twitter:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'twitter:card',
      name: 'twitter:card',
      content: 'summary',
    }],
  },
  components: {
  },
})
export default class About extends Vue {}
</script>

<style scoped>
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 1000px;
}

.about h1 {
  text-align: center;
}
</style>
