<template>
  <div id="page">
    <div class="active-account">
      <div class="container">
        <h1 class="title is-1">{{$t('activeaccountpage.title')}}</h1>
        <b-icon
            v-if="errorsForm.activeAccount === null && loading.activeAccount === true"
            pack="fas"
            icon="spinner"
            size="is-large"
            type="is-primary"
            custom-class="fa-spin">
        </b-icon>
        <h3
          v-if="errorsForm.activeAccount === false && loading.activeAccount === false"
          class="title is-3"
        >
          {{$t('activeaccountpage.accountActivated')}}
        </h3>
        <h3
          v-if="errorsForm.activeAccount === true && loading.activeAccount === false"
          class="title is-3"
        >
          {{$t('activeaccountpage.accountConfirmationFailed')}}
        </h3>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapState, mapActions } from 'vuex';

import translateMeta from '../utils/translateMeta';

const meta = translateMeta('activeaccountpage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    }, {
      vmid: 'robots',
      name: 'robots',
      content: 'noindex, nofollow',
    }],
  },
  computed: {
    ...mapState('account', {
      loading: 'loading',
      errorsForm: 'errors',
    }),
  },
  methods: {
    ...mapActions('account', [
      'activeAccount',
    ]),
  },
  components: {
  },
})
export default class ActiveAccount extends Vue {
  private created() {
    this.$store.dispatch('account/activeAccount', {
      confirmToken: this.$route.query.confirmToken,
      email: this.$route.query.email,
    });
  }
}

</script>

<style scoped>
.active-account {
  height: calc(100vh - 208px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

</style>
