<template>
  <div id="page">
    <div class="contact">
      <div class="container">
        <div class="card">
          <div class="mx-6 my-5">
            <h1 class="title is-1 is-size-2-mobile pt-5">{{$t('contactpage.title')}}</h1>
            <section>
              <b-field>
                <b-input v-model="lastName" :placeholder="$t('contactpage.lastName')"></b-input>
              </b-field>
              <b-field>
                <b-input v-model="firstName" :placeholder="$t('contactpage.firstName')"></b-input>
              </b-field>
              <b-field>
                <b-input
                  v-model="email"
                  :placeholder="$t('contactpage.emailAddress')"
                ></b-input>
              </b-field>
              <b-field>
                <b-input v-model="object" :placeholder="$t('contactpage.object')"></b-input>
              </b-field>
              <b-field>
                <b-input
                  v-model="message"
                  maxlength="500"
                  :placeholder="$t('contactpage.message')"
                  type="textarea"
                ></b-input>
              </b-field>
              <div class="buttons pb-5">
                <b-button size="is-medium" type="is-primary">{{$t('contactpage.button')}}</b-button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import translateMeta from '../utils/translateMeta';

const meta = translateMeta('contactpage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    },
    {
      vmid: 'og:title',
      property: 'og:title',
      content: meta.title,
    },
    {
      vmid: 'og:description',
      property: 'og:description',
      content: meta.description,
    },
    {
      vmid: 'og:image',
      property: 'og:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'og:url',
      property: 'og:url',
      content: `${process.env.VUE_APP_URL}/contact`,
    },
    {
      vmid: 'twitter:image',
      name: 'twitter:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'twitter:card',
      name: 'twitter:card',
      content: 'summary',
    }],
  },
  components: {
  },
})
export default class Contact extends Vue {}
</script>

<style scoped>
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.contact {
  width: 768px;
}

.contact h1 {
  text-align: center;
}
</style>
