<template>
  <div id="page">
    <div class="cookie-settings">
      <div class="container">
        <div class="card">
          <div class="mx-6 my-5">
            <h1 class="title is-1 is-size-2-mobile pt-5">
              {{$t('cookiesettingspage.title')}}
            </h1>
            <p class="mb-3">{{$t('cookiesettingspage.intro1')}}</p>
            <p>{{$t('cookiesettingspage.intro2')}}</p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('cookiesettingspage.navigation.title')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('cookiesettingspage.navigation.content1')}}
            </p>
            <p class="is-size-7-mobile" v-html="$t('cookiesettingspage.navigation.content2')">

            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('cookiesettingspage.socialSharing.title')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('cookiesettingspage.socialSharing.content1')}}
            </p>
            <p class="is-size-7-mobile" v-html="$t('cookiesettingspage.socialSharing.content2')">

            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('cookiesettingspage.publicity.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('cookiesettingspage.publicity.content')}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import translateMeta from '../utils/translateMeta';

const meta = translateMeta('cookiesettingspage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    }, {
      vmid: 'robots',
      name: 'robots',
      content: 'noindex, nofollow',
    }],
  },
})
export default class CookieSettings extends Vue {}
</script>

<style scoped>
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-settings {
  width: 1000px;
}

.cookie-settings h1 {
  text-align: center;
}
</style>
