<template>
  <div id="page">
    <div class="home">
      <div class="header">
        <div class="header-img">
          <b-image src="/padklan-full-logo.png" alt="Logo Padklan"/>
        </div>
        <div>
          <h3 class="title is-3">{{ $t('homepage.header.title') }}</h3>
        </div>
        <div>
          <router-link to="/sign-up" class="button is-primary is-medium">
            {{ $t('homepage.header.button') }}
          </router-link>
        </div>
      </div>
      <div class="container basic-informations">
        <div class="columns">
          <div class="column">
            <div class="card">
              <div>
                <b-icon
                  pack="fas"
                  icon="cash-register"
                  size="is-large"
                  type="is-info"
                />
                <h4 class="title is-3">{{ $t('homepage.basicInformations.free.title') }}</h4>
                <p>{{ $t('homepage.basicInformations.free.description') }}</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div>
                <b-icon
                  pack="fas"
                  icon="puzzle-piece"
                  size="is-large"
                  type="is-primary"
                />
                <h4 class="title is-3">{{ $t('homepage.basicInformations.simple.title') }}</h4>
                <p>{{ $t('homepage.basicInformations.simple.description') }}</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div>
                <b-icon
                  pack="fas"
                  icon="shield-alt"
                  size="is-large"
                  type="is-success"
                />
                <h4 class="title is-3">{{ $t('homepage.basicInformations.security.title') }}</h4>
                <p>{{ $t('homepage.basicInformations.security.description') }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-informations">
        <div class="container">
          <div class="columns">
            <div class="column display-mobile is-one-quarter">
              <img src="/lightsaber.svg" alt="Light saber">
            </div>
            <div class="column column-text">
              <h3 class="title is-3">{{ $t('homepage.featureInformations.matching.title') }}</h3>
              <p class="content">{{ $t('homepage.featureInformations.matching.description') }}</p>
            </div>
            <div class="column is-one-quarter display-not-mobile">
              <img src="/lightsaber.svg" alt="Light saber">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="columns">
            <div class="column is-one-quarter">
              <img src="/game-controller.svg" alt="Light saber">
            </div>
            <div class="column column-text">
              <h3 class="title is-3">{{ $t('homepage.featureInformations.findPlayer.title') }}</h3>
              <p class="content">
                {{ $t('homepage.featureInformations.findPlayer.description') }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="mobile-links">
        <h3 class="title">{{ $t('homepage.mobileLinks.title') }}</h3>
        <p>{{ $t('homepage.mobileLinks.description') }}</p>
        <!-- <div>
          <img src="/google-play-badge.svg" alt="Google play logo" />
          <img src="/app-store-badge.svg" alt="Apple store logo" />
        </div> -->
      </div>

      <div class="faq">
        <div class="container">
          <h3 class="title is-3">{{ $t('homepage.faq.title') }}</h3>
          <b-collapse
            class="card"
            animation="slide"
            v-for="(collapse, index) of collapses"
            :key="index"
            :open="isOpen == index"
            @open="isOpen = index">
            <template #trigger="props">
                <div
                    class="card-header"
                    role="button"
                >
                    <p class="card-header-title">
                        {{ collapse.title }}
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                          type="is-light"
                          :icon="props.open ? 'chevron-up' : 'chevron-down'">
                        </b-icon>
                    </a>
                </div>
            </template>
            <div class="card-content">
                <p class="content">
                    {{ collapse.text }}
                </p>
            </div>
          </b-collapse>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Collapse } from '../types/common';
import translateMeta from '../utils/translateMeta';

const meta = translateMeta();

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    },
    {
      vmid: 'og:title',
      property: 'og:title',
      content: meta.title,
    },
    {
      vmid: 'og:description',
      property: 'og:description',
      content: meta.description,
    },
    {
      vmid: 'og:image',
      property: 'og:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'og:url',
      property: 'og:url',
      content: process.env.VUE_APP_URL,
    },
    {
      vmid: 'twitter:image',
      name: 'twitter:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'twitter:card',
      name: 'twitter:card',
      content: 'summary',
    }],
  },
  components: {
  },
})
export default class Home extends Vue {
  private isOpen: number | null = null;

  private collapses: Array<Collapse> = [
    {
      title: this.$t('homepage.faq.collapse.part1.title').toString(),
      text: this.$t('homepage.faq.collapse.part1.text').toString(),
    },
    {
      title: this.$t('homepage.faq.collapse.part2.title').toString(),
      text: this.$t('homepage.faq.collapse.part2.text').toString(),
    },
    {
      title: this.$t('homepage.faq.collapse.part3.title').toString(),
      text: this.$t('homepage.faq.collapse.part3.text').toString(),
    },
  ]
}
</script>

<style scoped>
.header {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/video-games.jpg');
  background-size: cover;
  text-align: center;
  background-position: 25% 25%;
}

.header-img {
  width: 450px;
  margin-right: 10px;
}

.header a {
  margin-top: 20px;
}

.basic-informations {
  margin: 100px auto;
}

.basic-informations .columns {
  flex-wrap: wrap;
}

.basic-informations .column {
  display: flex;
  padding: 0.5em;
  width: 100%;
}

.basic-informations .card {
  display: flex;
  margin-left: 0.8em;
  margin-right: 0.8em;
  padding: 1em;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basic-informations .card > div {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
}

.basic-informations .card h4 {
  text-transform: uppercase;
  margin-top: 0.6em;
}

.feature-informations {
  background-color: whitesmoke;
}

.feature-informations img {
  height: 180px;
}

.feature-informations .columns {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.feature-informations h3 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #363636 !important;
}

.feature-informations p {
  font-weight: 500;
  color: #4a4a4a;
}

.feature-informations .column-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-mobile {
  display: none;
}

.mobile-links {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/keyboard.jpg');
  background-size: cover;
  text-align: center;
  background-position: 20% 20%;
}

.mobile-links h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.mobile-links > div {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.mobile-links img {
  margin-top: 30px;
  width: 180px;
}

.faq {
  min-height: auto;
  height: auto;
  padding-top: 50px;
  padding-bottom: 75px;
}

.faq  h3 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.faq p {
  color: white;
}

.content {
  color: white;
}

@media (max-width: 768px) {
  .display-mobile {
    display: block;
  }

  .display-not-mobile {
    display: none;
  }

  .mobile-links > div {
    width: auto;
    display: block;
  }

  .mobile-links > div > img {
    display: block;
  }

  .header-img {
    width: 300px;
  }

  .feature-informations .columns {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
  }

  .feature-informations .column {
    text-align: center;
  }

  .feature-informations img {
    height: 180px;
  }
}
</style>
