<template>
  <div id="page">
    <div class="legal-notice">
      <div class="container">
        <div class="card">
          <div class="mx-6 my-5">
            <h1 class="title is-1 is-size-2-mobile pt-5">{{$t('legalnoticepage.title')}}</h1>
            <h3 class="title is-3 mt-5 is-size-4-mobile">{{$t('legalnoticepage.editor')}}</h3>
            <p class="is-size-7-mobile">
              {{$t('legalnoticepage.editorContent')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('legalnoticepage.publicationContent.title')}}
            </h3>
            <p class="is-size-7-mobile">{{$t('legalnoticepage.publicationContent.director')}}</p>
            <p class="is-size7-mobile">{{$t('legalnoticepage.publicationContent.mail')}}</p>
            <p class="mb-5 is-size7-mobile">{{$t('legalnoticepage.publicationContent.phone')}}</p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('legalnoticepage.realisationContent.title')}}
            </h3>
            <p class="is-size-7-mobile">{{$t('legalnoticepage.realisationContent.name')}}</p>
            <p class="is-size-7-mobile">{{$t('legalnoticepage.realisationContent.address')}}</p>
            <p class="mb-5 is-size7-mobile">{{$t('legalnoticepage.realisationContent.city')}}</p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('legalnoticepage.hostContent.title')}}
            </h3>
            <p class="is-size-7-mobile">
              {{$t('legalnoticepage.hostContent.web')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('legalnoticepage.hostContent.db')}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import translateMeta from '../utils/translateMeta';

const meta = translateMeta('legalnoticepage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    }, {
      vmid: 'robots',
      name: 'robots',
      content: 'noindex, nofollow',
    }],
  },
})
export default class LegalNotice extends Vue {}
</script>

<style scoped>
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal-notice {
  width: 1000px;
}

.legal-notice h1 {
  text-align: center;
}
</style>
