<template>
  <div id="page">
    <div class="active-account">
      <div class="container">
        <h1 class="title is-1">{{$t('notfoundpage.title')}}</h1>
        <h3 class="title is-3">{{$t('notfoundpage.description')}}</h3>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import translateMeta from '../utils/translateMeta';

const meta = translateMeta('notfoundpage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    }, {
      vmid: 'robots',
      name: 'robots',
      content: 'noindex, nofollow',
    }],
  },
  components: {
  },
})
export default class NotFound extends Vue {

}
</script>

<style scoped>
.active-account {
  height: calc(100vh - 208px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

</style>
