<template>
  <div id="page">
    <div class="privacy-policy">
      <div class="container">
        <div class="card">
          <div class="mx-6 my-5">
            <h1 class="title is-1 is-size-2-mobile pt-5">
              {{$t('privacypolicypage.title')}}
            </h1>
            <p class="mb-3">{{$t('privacypolicypage.intro')}}</p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.definition.title')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('privacypolicypage.definition.intro')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.definition.data')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.definition.user')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.definition.application')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.definition.member')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.data.title')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('privacypolicypage.data.content1')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.data.content2')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.object.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.object.content')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.identity.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.identity.content')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content3')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content4')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content5')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content6')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content7')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.content8')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.purposeOfProcessing.contentlast')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.recipientsOfTheDataCollected.title')}}
            </h3>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.recipientsOfTheDataCollected.content1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.recipientsOfTheDataCollected.content2')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.recipientsOfTheDataCollected.content3')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.retentionPeriodOfPersonalData.title')}}
            </h3>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.retentionPeriodOfPersonalData.title1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.retentionPeriodOfPersonalData.content1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.retentionPeriodOfPersonalData.title2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.retentionPeriodOfPersonalData.content2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.retentionPeriodOfPersonalData.title3')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.retentionPeriodOfPersonalData.content3')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.security.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.security.content')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.cookies.title')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('privacypolicypage.cookies.content')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.cookies.content1')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('privacypolicypage.cookies.content2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.cookies.content3')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('privacypolicypage.cookies.content4')}}
            </p>
            <p class="pb-5 is-size-7-mobile" v-html="$t('privacypolicypage.cookies.link')">
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.consent.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.consent.content')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.rectificationAccess.title')}}
            </h3>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.rectificationAccess.content')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.rectificationAccess.content1')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('privacypolicypage.rectificationAccess.content2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.rectificationAccess.contact1')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.rectificationAccess.contact2')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.title')}}
            </h3>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.content')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.content2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.name')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.address')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.city')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.email')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.information')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.timeLimit')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.dataProtectionOfficer.cnil')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.modifications.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.modifications.content')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('privacypolicypage.update.title')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('privacypolicypage.update.content')}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import translateMeta from '../utils/translateMeta';

const meta = translateMeta('privacypolicypage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    }, {
      vmid: 'robots',
      name: 'robots',
      content: 'noindex, nofollow',
    }],
  },
})
export default class PrivacyPolicy extends Vue {}
</script>

<style scoped>
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy {
  width: 1000px;
}

.privacy-policy h1 {
  text-align: center;
}
</style>
