<template>
  <div id="page">
    <div class="sign-up">
      <div class="container">
        <div class="card">
          <div class="mx-6 my-5">
            <h1 class="title is-1 is-size-2-mobile pt-5">{{$t('signuppage.title')}}</h1>
            <section>
              <b-field
                :type="errors.email && 'is-danger'"
                :message="errors.email"
              >
                <b-input
                  v-model="addUser.email"
                  name="email"
                  @blur="checkForm"
                  :placeholder="$t('signuppage.emailAddress')"
                ></b-input>
              </b-field>
              <b-field
                :type="errors.username && 'is-danger'"
                :message="errors.username"
              >
                <b-input
                  v-model="addUser.username"
                  name="username"
                  @blur="checkForm"
                  :placeholder="$t('signuppage.username')"
                ></b-input>
              </b-field>
              <b-field
                :type="errors.birthdate && 'is-danger'"
                :message="errors.birthdate"
              >
                <b-datepicker
                  v-model="addUser.birthdate"
                  name="birthdate"
                  @blur="checkForm"
                  :placeholder="$t('signuppage.birthdate')"
                  trap-focus>
                </b-datepicker>
              </b-field>
              <b-field
                :type="errors.password && 'is-danger'"
                :message="errors.password"
              >
                <b-input
                  v-model="addUser.password"
                  name="password"
                  @blur="checkForm"
                  type="password"
                  :placeholder="$t('signuppage.password')"
                ></b-input>
              </b-field>
              <b-field
                :type="errors.confirmPassword && 'is-danger'"
                :message="errors.confirmPassword"
              >
                <b-input
                  v-model="addUser.confirmPassword"
                  name="confirmPassword"
                  @blur="checkForm"
                  type="password"
                  :placeholder="$t('signuppage.confirmPassword')"
                ></b-input>
              </b-field>
              <p class="accept-conditions" v-html="$t('signuppage.acceptConditions')"></p>
              <div class="buttons pt-3 pb-3">
                <b-button size="is-medium" @click="signUp()" type="is-primary" :disabled="loading.signUp">{{$t('signuppage.submit')}}</b-button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Watch,
} from 'vue-property-decorator';
import { mapState, mapActions } from 'vuex';
import { TranslateResult } from 'vue-i18n';

import AddUserModel from '../models/addUserModel';
import translateMeta from '../utils/translateMeta';
import getAge from '../utils/date';

const meta = translateMeta('signuppage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    },
    {
      vmid: 'og:title',
      property: 'og:title',
      content: meta.title,
    },
    {
      vmid: 'og:description',
      property: 'og:description',
      content: meta.description,
    },
    {
      vmid: 'og:image',
      property: 'og:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'og:url',
      property: 'og:url',
      content: `${process.env.VUE_APP_URL}/contact`,
    },
    {
      vmid: 'twitter:image',
      name: 'twitter:image',
      content: `${process.env.VUE_APP_URL}/padklan-logo.jpg`,
    },
    {
      vmid: 'twitter:card',
      name: 'twitter:card',
      content: 'summary',
    }],
  },
  computed: {
    ...mapState('account', {
      loading: 'loading',
      errorsForm: 'errors',
    }),
  },
  components: {
  },
  methods: {
    ...mapActions('account', [
      'signUp',
    ]),
  },
})
export default class SignUp extends Vue {
  private addUser: AddUserModel;
  public errors: {
    username: TranslateResult | null;
    email: TranslateResult | null;
    password: TranslateResult | null;
    confirmPassword: TranslateResult | null;
    birthdate: TranslateResult | null;
  } = {
    username: null,
    email: null,
    password: null,
    confirmPassword: null,
    birthdate: null,
  };

  constructor() {
    super();
    this.addUser = new AddUserModel();
  }

  @Watch('errorsForm.signUp', { immediate: true })
  private onPropertyChanged = (value: string | null) => {
    if (value && value.length > 0 && value[0].match('email')) {
      this.errors.email = this.$i18n.t('signuppage.errors.email.unique');
    }

    if (value && value.length > 0 && value[0].match('username')) {
      this.errors.username = this.$i18n.t('signuppage.errors.username.unique');
    }
  }

  checkForm = (e: { target: { name: string; value: any } }) => {
    if (e) {
      switch (e.target.name) {
        case 'email':
          /*eslint no-useless-escape: "off"*/
          /*eslint no-case-declarations: "off"*/
          /*eslint max-len: "off"*/
          const re = new RegExp(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
          this.errors.email = !e.target.value || !re.test(e.target.value) ? this.$i18n.t('signuppage.errors.email.required') : null;
          break;
        case 'username':
          const userRe = new RegExp(/^[a-zA-Z0-9]*$/);
          if (!e.target.value || e.target.value.length < 6 || e.target.value.length > 16) {
            this.errors[e.target.name] = this.$i18n.t(`signuppage.errors.${e.target.name}.required`);
          } else if (!userRe.test(e.target.value)) {
            this.errors[e.target.name] = this.$i18n.t(`signuppage.errors.${e.target.name}.alphanumeric`);
          } else {
            this.errors[e.target.name] = null;
          }
          break;
        case 'password':
          if (!e.target.value || e.target.value.length < 6 || e.target.value.length > 16) {
            this.errors[e.target.name] = this.$i18n.t(`signuppage.errors.${e.target.name}.required`);
          } else {
            this.errors[e.target.name] = null;
          }
          break;
        case 'confirmPassword':
          if (!e.target.value || e.target.value.length < 6 || e.target.value.length > 16) {
            this.errors[e.target.name] = this.$i18n.t('signuppage.errors.confirmPassword.required');
          } else if (e.target.value !== this.addUser.password) {
            this.errors[e.target.name] = this.$i18n.t('signuppage.errors.confirmPassword.notMatch');
          } else {
            this.errors[e.target.name] = null;
          }
          break;
        default:
          break;
      }
    } else {
      this.errors.birthdate = null;
      if (!this.addUser.birthdate) {
        this.errors.birthdate = this.$i18n.t('signuppage.errors.birthdate.required');
      } else if (getAge(this.addUser.birthdate) < 13) {
        this.errors.birthdate = this.$i18n.t('signuppage.errors.birthdate.notHaveAge');
      }
    }

    return null;
  }

  signUp = () => {
    /*eslint no-useless-escape: "off"*/
    /*eslint no-case-declarations: "off"*/
    /*eslint max-len: "off"*/
    const re = new RegExp(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
    this.errors.email = !this.addUser.email || !re.test(this.addUser.email) ? this.$i18n.t('signuppage.errors.email.required') : null;

    const userRe = new RegExp(/^[a-zA-Z0-9]*$/);
    if (!this.addUser.username || this.addUser.username.length < 6 || this.addUser.username.length > 16) {
      this.errors.username = this.$i18n.t('signuppage.errors.username.required');
    } else if (!userRe.test(this.addUser.username)) {
      this.errors.username = this.$i18n.t('signuppage.errors.username.alphanumeric');
    } else {
      this.errors.username = null;
    }

    if (!this.addUser.password || this.addUser.password.length < 6 || this.addUser.password.length > 16) {
      this.errors.password = this.$i18n.t('signuppage.errors.password.required');
    } else {
      this.errors.password = null;
    }

    if (!this.addUser.confirmPassword || this.addUser.confirmPassword.length < 6 || this.addUser.confirmPassword.length > 16) {
      this.errors.confirmPassword = this.$i18n.t('signuppage.errors.confirmPassword.required');
    } else if (this.addUser.confirmPassword !== this.addUser.password) {
      this.errors.confirmPassword = this.$i18n.t('signuppage.errors.confirmPassword.notMatch');
    } else {
      this.errors.confirmPassword = null;
    }

    this.errors.birthdate = null;
    if (!this.addUser.birthdate) {
      this.errors.birthdate = this.$i18n.t('signuppage.errors.birthdate.required');
    } else if (getAge(this.addUser.birthdate) < 13) {
      this.errors.birthdate = this.$i18n.t('signuppage.errors.birthdate.notHaveAge');
    }

    if (this.errors.username === null
    && this.errors.email === null
    && this.errors.password === null
    && this.errors.confirmPassword === null
    && this.errors.birthdate === null) {
      this.$store.dispatch('account/signUp', this.addUser);
    }
  }
}
</script>

<style scoped>
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.sign-up {
  width: 768px;
}

.sign-up h1 {
  text-align: center;
}

.accept-conditions {
  font-size: 0.75rem;
}
</style>
