<template>
  <div id="page">
    <div class="terms-and-conditions">
      <div class="container">
        <div class="card">
          <div class="mx-6 my-5">
            <h1 class="title is-1 is-size-2-mobile pt-5">
              {{$t('termsandconditionspage.title')}}
            </h1>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title1')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.member')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.order')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.publicityContract')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.data')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.advertiser')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.services')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.definition.servicesContent')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.servicesContent1')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.application')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.terminal')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.definition.user')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title2')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.object.intro')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.object.content')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.object.content1')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.object.content2')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title3')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.intro')}}
            </p>
              <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.content')}}
            </p>
              <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.content1')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.content2')}}
            </p>
              <p class="mb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.access.content3')}}
            </p>
              <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.subtitle')}}
            </p>
              <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content')}}
            </p>
              <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content1')}}
            </p>
              <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content2')}}
            </p>
              <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content3')}}
            </p>
              <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content4')}}
            </p>
              <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content5')}}
            </p>
              <p class="mb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content6')}}
            </p>
              <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content7')}}
            </p>
            <p class="mb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content8')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content9')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content10')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content11')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content12')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content13')}}
            </p>
            <p class="mb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content14')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.subtitle1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content15')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content16')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content17')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content18')}}
            </p>
            <p class="mb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content19')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content20')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.access.member.content21')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title4')}}
            </h3>
            <p class="pb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.useOfApplications.subtitle')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.useOfApplications.content')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.useOfApplications.content1')}}
            </p>
            <p class="pb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.useOfApplications.subtitle1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.useOfApplications.content2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.useOfApplications.content3')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.useOfApplications.content4')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title5')}}
            </h3>
            <p class="pb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.duration.content')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.duration.content1')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title6')}}
            </h3>
            <p class="pb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.proposal.title1')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.proposal.content')}}
            </p>
            <p class="pb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.proposal.title2')}}
            </p>
            <p class="pb_3 is-size-7-mobile">
              {{$t('termsandconditionspage.proposal.content1')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.proposal.content2')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title7')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.orderPrices.content')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.orderPrices.content1')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.orderPrices.content2')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title8')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.obligationsUsers.content')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.obligationsUsers.content1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.obligationsUsers.content2')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.obligationsUsers.content3')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.obligationsUsers.content4')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.obligationsUsers.content5')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title9')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.breachesByUsers.content')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.breachesByUsers.content1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.breachesByUsers.content2')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.breachesByUsers.content3')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title10')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.obligations.content')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.obligations.content1')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.obligations.content2')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.obligations.content3')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title11')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.responsability.content')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.responsability.content1')}}
            </p>
            <p class="is-size-7-mobile">
              {{$t('termsandconditionspage.responsability.content2')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.responsability.content3')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title12')}}
            </h3>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.personnalData.content')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title13')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.update.content')}}
            </p>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.update.content1')}}
            </p>
            <p class="pb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.update.content2')}}
            </p>
            <h3 class="title is-3 mt-5 is-size-4-mobile">
              {{$t('termsandconditionspage.title14')}}
            </h3>
            <p class="mb-3 is-size-7-mobile">
              {{$t('termsandconditionspage.applicableLaw.content')}}
            </p>
            <p class="mb-5 is-size-7-mobile">
              {{$t('termsandconditionspage.applicableLaw.content1')}}
            </p>
            <p class="py-5 is-size-7-mobile">
              {{$t('termsandconditionspage.footer')}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import translateMeta from '../utils/translateMeta';

const meta = translateMeta('termsandconditionspage');

@Component({
  metaInfo: {
    title: meta.title,
    meta: [{
      vmid: 'description',
      name: 'description',
      content: meta.description,
    }, {
      vmid: 'robots',
      name: 'robots',
      content: 'noindex, nofollow',
    }],
  },
})
export default class TermsAndConditions extends Vue {}
</script>

<style scoped>
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-and-conditions {
  width: 1000px;
}

.terms-and-conditions h1 {
  text-align: center;
}
</style>
